name: Generate Snake

on:
  schedule: 
    - cron: "0 0 * * *"  # Runs daily at midnight
  workflow_dispatch:     # Manual trigger
  push:
    branches:
      - main

jobs:
  build:
    name: Generate GitHub Contribution Snake
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@master
        with:
          github_user_name: pranav-ai
          outputs: dist/github-contribution-grid-snake.svg

      - name: Push to GitHub
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
